<form [formGroup]="form" (submit)="(null)">
  <!-- <input formControlName="contact" placeholder="contact" required /> -->
  <textarea
    id="code"
    placeholder="code"
    formControlName="code"
    required
  ></textarea>
  <button id="compile" type="submit">Compile</button>
</form>
<div
  *ngIf="codeErrors && (code.touched || code.dirty)"
  class="cross-validation-error-message alert alert-danger"
>
  Errors occurs while parsing json:
  <ul *ngFor="let error of codeErrors; let index = index">
    <li>({{ index + 1 }}) - {{ error }}</li>
  </ul>
</div>
<br />
<app-terminal />
